@import "bourbon";
@import "vars";

* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 18px;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
}
h2 {
	text-transform: uppercase;
	font-family: $amsdam;
	font-size: 1.2rem;
	margin-bottom: 30px;
	&:after {
		content: '';
		display: block;
		margin: 15px auto 0 auto;
		height: 5px;
		width: 15vw;
		max-width: 100%;
		background: url('../img/border_dark.png');
	}
}
h3 {
	font-family: $montserrat;
}
p {
	font-family: $crimson;
	font-size: 14px;
}
button {
	padding: 10px 45px;
	display: inline-block;
	margin: 0 auto;
	background-color: transparent;
	font-family: $montserrat;
	font-size: 0.83rem;
	outline: none;
	&.btn_light {
		border: 2px solid #fff;
		color: #fff;
	}
	&.btn_dark {
		border: 2px solid #3e3d3d;
		color: #3e3d3d;
		&:hover {
			background-color: #3e3d3d;
			color: #fff;
		}
	}
}
section {
	padding: 70px 0;
}
.section_descr {
	text-align: center;
	margin-bottom: 60px;
	&_light {
		color: #fff;
		h2:after {
			background: url('../img/border_light.png');
		}
	}
}